<div style="margin-top:20px;"></div>
<div class="promo-block">
  <div class="item-promo-text">
    <div class="promotion-product-html">
      <span style="color: #000;">
        Use 'WELCOME10' to get 10% OFF your first purchase.
      </span>
    </div>
  </div>
</div>

<style>
  
  .promo-block {
    box-shadow: 1px 1px 5px 3px grey;
  }
  
  .promo-block .item-promo-text {
    border: 1px solid #000;
    background-color: #fff;
    color: #000 !important;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.4px;
    margin-right: 5px;
  }

  .promo-block .outer-border {
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 5px);
    top: 5px;
    left: 5px;
    z-index: -1;
    height: 100%;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #000;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
</style>
